@using GameStore.BLL.DTOs.Components
@model GameStore.WebUI.ViewModels.Genre.CreateEditGenreViewModel

@{
	ViewBag.Title = Resource.Genre_Update_UpdateGenre;
}

<div class="page-header">
	<h1>@Resource.Genre_Update_UpdateGenre</h1>
</div>

@using (Html.BeginForm("Update", "Genre", FormMethod.Post, new { @class = "form-horizontal" }))
{
	@Html.ValidationSummary(true)
	@Html.AntiForgeryToken()
	
	@Html.Hidden("currentGenreName", Model.CurrentGenre.Name)
	@Html.HiddenFor(m => m.CurrentGenre.GenreId)

	<!-- Parent genres -->
	<div class="form-group">
		<div class="col-md-4 text-right">
			@Html.LabelFor(m => m.ParentGenres, new { @class = "control-label" })
		</div>
		<div class="col-md-4">
			@Html.DropDownListFor(model => model.SelectedParentGenre, new SelectList(Model.ParentGenres, "Name", "DisplayName"), new { @class = "form-control" })
		</div>
		<div class="col-md-4">

		</div>
	</div>

	<!-- Genre name -->
	<div class="form-group">
		<div class="col-md-4 text-right">
			@Html.LabelFor(m => m.CurrentGenre.Name, new { @class = "control-label" })
		</div>
		<div class="col-md-4">
			@Html.TextBoxFor(m => m.CurrentGenre.Name, new { @class = "form-control" })
		</div>
		<div class="col-md-4">
			@Html.ValidationMessageFor(m => m.CurrentGenre.Name, null, new { @class = "help-block" })
		</div>
	</div>
	
	<!-- Ukrainian localization -->
	<div class="panel panel-info" data-parent-toggle>
		<div class="panel-heading">
			<div class="checkbox">
				<label>
					<input type="checkbox" data-lang-enable="" @if (Model.UkrainianGenreLocalization != null) { <text> checked="checked" </text>    } />
					@Html.DisplayNameFor(m => m.UkrainianGenreLocalization)
				</label>
			</div>
		</div>
		
		@Html.Hidden(Html.NameFor(m => m.UkrainianGenreLocalization.Language).ToString(), LanguageDto.Uk, new { data_lang_toggle = true })

		<div class="panel-body">
			<!-- Genre ukrainian name -->
			<div class="form-group">
				<div class="col-md-4 text-right">
					@Html.LabelFor(m => m.UkrainianGenreLocalization.Name, new { @class = "control-label" })
				</div>
				<div class="col-md-4">
					@Html.TextBoxFor(m => m.UkrainianGenreLocalization.Name, new { @class = "form-control", data_lang_toggle = true })
				</div>
				<div class="col-md-4">
					@Html.ValidationMessageFor(m => m.UkrainianGenreLocalization.Name, null, new { @class = "help-block" })
				</div>
			</div>
		</div>
	</div>

	<!-- Create button -->
	<div class="form-group">
		<div class="col-md-4 col-md-offset-4">
			<button type="submit" class="btn btn-default">@Resource.Common_Edit</button>
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	@Scripts.Render("~/bundles/languageControlPlugin")

	<script>
		(function() {
			$(function() {
				$('input[data-lang-enable]').languageControl();
			});
		})();
	</script>
}