@model GameStore.WebUI.ViewModels.Account.LoginViewModel

@{
    ViewBag.Title = Resource.Account_Login_Login;
}

@using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "narrow-form" }))
{
	@Html.AntiForgeryToken()
	@Html.ValidationSummary(true)

	<h2>@Resource.Account_Login_Login</h2>
	@Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
	@Html.ValidationMessageFor(m => m.Email)
	<br />

	@Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
	@Html.ValidationMessageFor(m => m.Password)

	<div class="checkbox">
		<label>
			@Html.CheckBoxFor(m => m.RememberMe)
			@Html.DisplayNameFor(m => m.RememberMe)
		</label>
	</div>

	<button class="btn btn-lg btn-primary btn-block" type="submit">@Resource.Account_Login_Login</button>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}